<nav class="navbar">
    <div class="nav-left">
      <img src="assets/images/logo.png" alt="Logo" class="logo">
      <ul class="nav-links">
        <li><a routerLink="/leistungen">Leistungen</a></li>
        <li><a routerLink="/sanierungen">Energetische Sanierungen</a></li>
        <li><a routerLink="/kontakt">Kontakt</a></li>
      </ul>
    </div>
    <div class="nav-right">
        <button class="config-button" routerLink="/configurator">Angebot konfigurieren</button>

    </div>
  </nav>
  