<header class="navbar">
    <div class="logo">
        <img src="./assets/Image/Logo.jpg" type="image/jpg" alt="Energievolt Logo">
    </div>
    
    <nav class="nav-links">
        <a href="/" routerLinkActive="active">Startseite</a>

        <!-- Dropdown für Energetische Sanierungen -->
        <div class="dropdown">
            <a class="dropbtn">Leistungen </a>
            <div class="dropdown-content">
                <a href="/leistungen#photovoltaik">Photovoltaik</a>
<a href="/leistungen#dachsanierung">Dachsanierung</a>
<a href="/leistungen#waermepumpe">Wärmepumpe</a>
<a href="/leistungen#reparaturservice">Reparaturservice</a>
<a href="/leistungen#nachruestungen">Nachrüstung</a>

            </div>
        </div>
        
        <a href="/about" routerLinkActive="active">Über uns</a>
        <a href="/faq" routerLinkActive="active">FAQ</a>
        <a href="/kontakt" routerLinkActive="active">Kontakt</a>
    </nav>

    <div class="cta">
        <button class="cta-button">Angebot anfordern</button>
    </div>
</header>
