/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Sorgt für vertikale Ausrichtung */
  background-color: #faf9fa; /* Dunkler Hintergrund für Kontrast */
  padding: 10px 0px;
  color: white;
  height: 80px; /* Feste Höhe für eine einheitliche Darstellung */
}

/* Logo */
.logo img {
  height: 90px; /* Kleinere Höhe für das Logo */
  width: 300px;  /* Beibehaltung des Seitenverhältnisses */
  margin-left: 150px; /* Abstand vom linken Rand */
  display: block;
    filter: hue-rotate(240deg) saturate(200%);
}

/* Navigationslinks */
.nav-links {
  display: flex;
  align-items: center; /* Sorgt für gleiche Höhe mit dem Logo */
  gap: 20px; /* Abstand zwischen den Links */
}

.nav-links a {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color:#431086;
  text-decoration: none;
  font-size: 20px;
}

/* Dropdown-Menü */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: flex;
  align-items: center; /* Gleiche Höhe wie andere Links */
}

/* Dropdown-Inhalt */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* Position direkt unter dem Hauptlink */
  left: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  z-index: 10;
  border-radius: 5px;
}

/* Dropdown-Elemente */
.dropdown-content a {
  color: black;
  padding: 10px;
  display: block;
  text-decoration: none;
}

/* Dropdown beim Hover anzeigen */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Styling für die Links im Dropdown */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Angebot anfordern Button */
.cta-button {
 background: linear-gradient(135deg, #28075e, #0a0116); 
  color: black;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 180px; /* Abstand zum rechten Rand */
color: white;
    right: 70px;
}
