<header class="navbar">
    <div class="logo">
        <img src="./assets/Image/logo.jpg" type="image/jpg" alt="Energievolt Logo">
    </div>
    
    <nav class="nav-links">
        <a href="/" routerLinkActive="active">Startseite</a>
        <a href="/Leistungen" routerLinkActive="active">Leistungen</a>

        <!-- Dropdown für Energetische Sanierungen -->
        <div class="dropdown">
            <a class="dropbtn">Energetische Sanierungen ▼</a>
            <div class="dropdown-content">
                <a href="/sanierungen/Dachsanierung" routerLinkActive="active">Dachsanierung</a>
                <a href="/sanierungen/Wärmepumpe" routerLinkActive="active">Wärmepumpe</a>
                <a href="/sanierungen/Photovoltaik" routerLinkActive="active">Photovoltaik</a>
            </div>
        </div>

        <a href="/about" routerLinkActive="active">Über uns</a>
        <a href="/kontakt" routerLinkActive="active">Kontakt</a>
    </nav>

    <div class="cta">
        <button class="cta-button">Angebot anfordern</button>
    </div>
</header>
