<section class="hero">
    <img src="assets/image/hero.png" alt="hero">
</section>

<div class="service-container">
    <div class="service-card">
      <img src="assets/image/service1.webp" alt="Service 1">
      <h3>Service 1</h3>
      <p>Beschreibung für Service 1.</p>
    </div>
  
    <div class="service-card">
      <img src="assets/image/service2.webp" alt="Service 2">
      <h3>Service 2</h3>
      <p>Beschreibung für Service 2.</p>
    </div>
  
    <div class="service-card">
      <img src="assets/image/service3.webp" alt="Service 3">
      <h3>Service 3</h3>
      <p>Beschreibung für Service 3.</p>
    </div>
  </div>
  