<section class="services">
    <h1>Unsere Leistungen</h1>
    <p>Wir bieten umfassende Dienstleistungen im Bereich nachhaltiger Energielösungen.</p>

    <div class="service-section">
        <div class="service-image">
            <img src="/assets/Image/photovoltaik.jpg" alt="Photovoltaik">
        </div>
        <div class="service-text">
            <h2><span class="highlight">Photovoltaik</span> – Saubere Energie direkt vom Dach</h2>
            <p>
                Photovoltaik ist eine Schlüsseltechnologie für die Energiewende, da sie Sonnenlicht direkt in Strom umwandelt 
                und Hausbesitzern ermöglicht, umweltfreundlich und kostengünstig ihren Energiebedarf zu decken.
            </p>
        </div>
    </div>

    <div class="service-section">
        <div class="service-image">
            <img src="/assets/Image/dachsanierungen.jpg" alt="Dachsanierung">
        </div>
        <div class="service-text">
            <h2><span class="highlight">Dachsanierung</span> – Nachhaltige Erneuerung</h2>
            <p>
                Unsere Dachsanierungsdienstleistungen sorgen für eine energieeffiziente und langlebige Lösung für Ihr Dach.
            </p>
        </div>
    </div>

    <div class="service-section">
        <div class="service-image">
            <img src="/assets/Image/waermepumpe.jpg" alt="Wärmepumpe">
        </div>
        <div class="service-text">
            <h2><span class="highlight">Wärmepumpen</span> – Effiziente Heizlösung für Ihr Zuhause</h2>
            <p>
                Wärmepumpen sind eine umweltfreundliche und effiziente Heizlösung, die immer beliebter wird.
            </p>
        </div>
        
    </div>

    <div class="service-section">
        <div class="service-image">
            <img src="/assets/Image/reperaturservice.jpg" alt="Reparaturservice">
        </div>
        <div class="service-text">
            <h2><span class="highlight">Reparaturservice</span> – Zuverlässige Wartung</h2>
            <p>
                Unser Reparaturservice stellt sicher, dass Ihre Energieanlagen effizient und sicher funktionieren.
            </p>
        </div>
    </div>

    <div class="service-section">
        <div class="service-image">
            <img src="/assets/Image/nachruestugen.jpg" alt="Nachrüstung">
        </div>
        <div class="service-text">
            <h2><span class="highlight">Nachrüstung</span> – Optimierung Ihrer Systeme</h2>
            <p>
                Wir modernisieren und optimieren bestehende Anlagen, um deren Effizienz und Leistung zu steigern.
            </p>
        </div>
        
    </div>
</section>
