/* Grundlegendes Styling */
.services {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}

.services h1 {
    font-size: 2.5rem;
    color: #28075e;
    margin-bottom: 20px;
}

.services p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 40px;
}

/* Styling für Service-Sektionen */
.service-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.service-section:nth-child(even) {
    flex-direction: row-reverse;
}

.service-text {
    width: 50%;
    text-align: left;
    padding: 20px;
}

.service-text h2 {
    font-size: 1.8rem;
    color: #28075e;
}

.service-text .highlight {
    color: linear-gradient(135deg, #28075e, #0a0116);
    font-weight: bold;
}

.service-text p {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
}

.service-image {
    width: 50%;
    display: flex;
    justify-content: center;
}

.service-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsives Design */
@media (max-width: 1024px) {
    .service-section {
        flex-direction: column !important;
        text-align: center;
    }
    .service-text,
    .service-image {
        width: 100%;
        text-align: center;
    }
}