<div class="wrapper">
    <nav class="sidebar">
      <ul>
        <li><button (click)="changeSection('photovoltaik')">Photovoltaik</button></li>
        <li><button (click)="changeSection('elektroinstallation')">Elektroinstallation</button></li>
        <li><button (click)="changeSection('reparaturservice')">Reparaturservice</button></li>
        <li><button (click)="changeSection('nachruestungen')">Nachrüstungen</button></li>
        <li><button (click)="changeSection('dachsanierung')">Dachsanierung</button></li>
      </ul>
    </nav>


    <div class="content-area">
        <h1 class="section-title">Unsere Leistungen</h1>
        <div class="content" id="main-content">
          <div [ngSwitch]="section">
            <div *ngSwitchCase="'photovoltaik'">
              <h2>Photovoltaik</h2>
              <p>Erneuerbare Energien für eine nachhaltige Zukunft.</p>
            </div>
            <div *ngSwitchCase="'elektroinstallation'">
              <h2>Elektroinstallation</h2>
              <p>Professionelle Lösungen für Ihre elektrischen Systeme.</p>
            </div>
            <div *ngSwitchCase="'reparaturservice'">
              <h2>Reparaturservice</h2>
              <p>Schnelle und effiziente Reparaturen für Ihr Zuhause.</p>
            </div>
            <div *ngSwitchCase="'nachruestungen'">
              <h2>Nachrüstungen</h2>
              <p>Moderne Technologien für Ihre bestehenden Systeme.</p>
            </div>
            <div *ngSwitchCase="'dachsanierung'">
              <h2>Dachsanierung</h2>
              <p>Schutz und Werterhalt Ihrer Immobilie.</p>
              <h1>Funktioniert</h1>
            </div>
            <div *ngSwitchDefault>
              <p>Bitte wähle eine Kategorie aus der Sidebar.</p>
            </div>
          </div>
        </div>
      </div>