<div class="services-container">
  <div class="service-card">
      <img src= "assets/Images/service1.png" alt="Service 1">
      <h3>Service 1</h3>
      <p>Beschreibung für Service 1</p>
  </div>
  <div class="service-card">
      <img src="assets/Images/service2.png" alt="Service 2">
      <h3>Service 2</h3>
      <p>Beschreibung für Service 2</p>
  </div>
  <div class="service-card">
      <img src="assets/Images/service3.png" alt="Service 3">
      <h3>Service 3</h3>
      <p>Beschreibung für Service 3</p>
  </div>
</div>
